[Desktop Entry]
Version=1.0
Type=Application
Name=CLion
Icon=~/.local/clion-launcher/clion.svg
Exec=~/.local/clion-launcher/clion.sh
Comment=Develop with pleasure!
Categories=Development;IDE;
Terminal=false
StartupNotify=true
StartupWMClass=jetbrains-clion
